<div class="panel panel-success">
    <div class="panel-body">
        <div class="search-button">
             <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control search-field" id="query" placeholder="Search Twitter" ng-model="searchQuery">
                  </div>
                  <button ng-click="doSearchFn(searchQuery)" type="button" class="btn btn-primary"  tooltip-popup-delay="500">
                        Search
                    </button>
                </form>
            </div>
        <div ng-show="showLoading">
            <div class="loading-animation"><h2>Loading...</h2></div>
        </div>
        <jqcloud class="word-cloud" words="words" steps="10" shape="{{shape}}" fontSize="fontSize"></jqcloud>
    </div>
</div>