.label-width {
    width: 150px;
}
.word-cloud{
    width:100%;
    height:600px;
}
.negative{
    color:red !important;
}
.positive{
    color:forestgreen !important;
}
.neutral{
    color:grey !important;
}
.word-cloud-item:hover{
    cursor:pointer;
}
.search-button{
    margin:auto;
    text-align:center;
}
.search-field{
    width: 500px !important;
}
.cloud-div{
    text-align: center;
    width: 55%;
    float: left;
}
.pie-chart-div{
    width: 30%;
    float: right;
    height:500px;
    text-align: center;
    margin-right: 5%;
}
.pie-chart{
    width: 80%;
    height: 500px;
    margin-right: 20%;
}
.center-text{
    text-align: center;
}
.no-margin-top{
    margin-top: 0px !important;
}
h2{
    color: #20457C;
}
h3{
    color: ;
}
/* style for loading animation start*/

@keyframes glowanimation {
    0% {
        opacity: 1
    }
    50% {
        opacity: .25
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes glowanimation {
    0% {
        opacity: 1
    }
    50% {
        opacity: .25
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes glowanimation {
    0% {
        opacity: 1
    }
    50% {
        opacity: .25
    }
    100% {
        opacity: 1
    }
}
.loading-animation {
    -webkit-animation: glowanimation 2s infinite;
    animation: glowanimation 2s infinite;
    text-align: center;
    color: dodgerblue !important;
}
.description-div {
    height: 500px;
    vertical-align:middle;
    line-height: 500px;
}
.description-div > h2{
  display: inline-block;
  vertical-align: middle;
}