<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMT</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/pie-chart.css">
    
    <link rel="stylesheet" href="css/jqcloud.min.css">
    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
</head>

<body ng-app="fmt" ng-controller="fmtController">
    <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/pages/home.html">Opinion Analysis Tool</a>
            </div>
            <div ng-cloak>
                <form class="navbar-form pull-left" ng-show="showSearchBar">
                  <input type="text" class="span2" ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && doSearchFn(searchQuery)">
                  <button type="button" ng-click="doSearchFn(searchQuery)" type="button" class="btn btn-primary btn-sm">Search</button>   
                </form>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling 
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="divider-vertical"></li>
                <li class="active"><a href="#/pages/home.html">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#/pages/feedbackCategories.html">Feedback Categories</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">Feedback Overview</a></li>
              </ul>   
            </div>
            -->
          </div>
        </nav>
        <div id="main">
            <div ng-view></div>
        </div>
    </div>
</body>

</html>

<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-animate.min.js"></script>
<script src="js/libs/ui-bootstrap-tpls.min.js"></script>
<script src="js/libs/angular-route.min.js"></script>
<script src="js/libs/jquery.js"></script>
<script src="js/libs/jqcloud.js"></script>
<script src="js/libs/angular-jqcloud.js"></script>
<script src="js/libs/pie-chart.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/fmtController.js"></script>
<script src="js/services/utiliityService.js"></script>
<script src="js/services/dataService.js"></script>
<script src="js/controllers/entityDetailsController.js"></script>
<script src="js/libs/d3.min.js" charset="utf-8"></script>

